body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    color: #868686;
}

.logo {
    display: flex;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 20px 0;
    padding: 0;
}

.logo li {
    background-color: #868686;
    padding: 8px 8px 6px;
    color: #fff;
    margin: 0 1px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.owner {
    min-width: 400px;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 18px;
}

h2 {
    font-size: 20px;
}

h3 {
    margin: 5px 0 0;
    text-transform: uppercase;
    font-size: 10px;
}

ul li {
    list-style: none;
}

.calendar {
    border: 1px solid #868686;
    padding: 0 10px;
    border-radius: 7px;
}

.day {
    margin: 22px 0;
    border-bottom: 1px solid #868686;
}

.day:last-child {
    border-bottom: none;
}

.day-number {
    text-transform: uppercase;
    font-size: 10px;
}

.calendar-list li {
    margin-bottom: 14px;
    font-size: 18px;
}

.calendar-list a {
    color: #868686;
    font-weight: bold;
}

.calendar-list {
    padding: 0;
}

.container {
    margin-top: 72px;
    margin-bottom: 20px;
    width: 800px;
    height: auto;
    background-color: #fff;
    border: 7px solid #bababa;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.social-links {
    display: flex;
    margin-top: 12px;
    padding: 0;
}

.social-links li {
    margin: 0 6px 0 0;
}

.fa {
    padding: 7px;
    font-size: 16px;
    width: 14px;
    text-align: center;
    text-decoration: none;
    background: #bababa;
    color: white;
    border-radius: 7px;
}

.fa:hover {
    background-color: #868686;
}

.sections {
    margin: 30px 0;
    padding: 0;
}

.sections a {
    color: #868686;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
    .row {
        flex-direction: column;
    }
    .owner {
        min-width: auto;
        margin-bottom: 50px;
    }
}